<<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <h2>Authorisations for {{data.party.name}} </h1>
    </div>
    <div class="contents">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12 col-md-4 ">
                    <div class="btn-group">
                        <label class="btn btn-inverse" ng-model="status_filter" uib-btn-radio="'all'">All</label>
                        <label class="btn btn-inverse" ng-model="status_filter" uib-btn-radio="'active'">Active</label>
                        <label class="btn btn-inverse" ng-model="status_filter" uib-btn-radio="'inactive'">Inactive</label>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 ">
                    <input class="form-control " type="text" id="search_field" placeholder="Search ...">
                </div>
                <div class="col-sm-4 col-md-2">
                    <input class="form-control btn btn-default" type="button" value="Search">
                </div>

            </div>
        </div>

        <relationship-table relation="relation" ng-repeat="relation in relations" >
        </relationship-table>
    </div>
</div>>