<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <div class="row">
            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">Add Relationship</h2>
        </div>
    </div>
    <representative-details></representative-details>
    <authorisation-type  [(data)]='myVar.authType'
    (validationErrors)='accessPeriodValidationErrors=$event'>
    </authorisation-type>
    <access-period [(data)]='myVar.accessPeriod' (validationErrors)='accessPeriodValidationErrors=$event'></access-period>
    <authorisation-permissions></authorisation-permissions>
    <declaration ></declaration>
    <pre>
        {{dumpObject(myVar)}}
        {{dumpObject(authTypeValidationErrors)}}
        {{dumpObject(accessPeriodValidationErrors)}}
    </pre>
</div>