<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <div class="row">
            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">Add Relationship</h2>
        </div>
    </div>
    <representative-details [(data)]='myVar.representativeDetails' (validationErrors)='representativeDetailsErrors=$event'>
    </representative-details>
    <authorisation-type [(data)]='myVar.authType' (validationErrors)='authTypeErrors=$event'>
    </authorisation-type>
    <access-period [(data)]='myVar.accessPeriod' (validationErrors)='accessPeriodErrors=$event'>
    </access-period>
    <authorisation-permissions (validationErrors)='authorisationPermissionErrors=$event'></authorisation-permissions>
    <declaration (validationErrors)='declarationErrors=$event'></declaration>
    <pre>
        {{dumpObject(myVar)}} Access Period Errors: {{dumpObject(accessPeriodErrors)}}
    </pre>
</div>