<!--<h3>Received an invitation code?</h3>

        <h4 class="padding-top-5">If you have received an authorisation code, enter it below:</h4>
        <br/>
        <form class="form form-horizontal" role="form">
            <div class="row form-group">
                <label class="h4 col-sm-3 col-lg-3 col-md-3 " for="new-activation-code">Invitation code</label>

                <div class="col-sm-5 col-lg-6 col-lg-pull-1">
                    <input class="form-control input" type="text" id="new-activation-code" placeholder="Invitation code ...">
                </div>

                <div class="col-sm-4 col-lg-3 col-lg-pull-1">
                    <a href="#" class="btn btn-primary btn">Accept</a>
                </div>
            </div>
        </form>-->
<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <div class='btn-toolbar pull-right'>
            <button type="button" class="btn btn-sm btn-default">Add a relationship</button>
            <button type="button" class="btn btn-sm btn-default">Accept an invitation</button>
        </div>
        <h2>Relationships and authorisations</h2>
    </div>

    <div class="contents">
        <div class="page-header">
            <h3><strong>Jennifer Maxims</strong> can act/authorised for </h3>
        </div>
        <p class="lead">
            <h4>You have access to the entries listed below. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

        <div class=" ram section">
            <table class="table  table-hover" show-filter="true" ng-table="myAuthorisations" >
                    <tr ng-repeat="row in $data">
                        <td header-class="'h5'" title="'Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}<small class="show" ng-if="row.abn"> ABN: {{row.abn}}</small></td>
                        <td header-class="'h5'" title="'Relationship'" filter="{rel: 'select'}" sortable="'rel'">{{row.rel}}</td>
                        <td header-class="'h5'" title="'Access Level'" filter="{access: 'select'}" sortable="'access'">{{row.access}}</td>
                        <td header-class="'h5'" title="'Status'" filter="{status: 'select'}" sortable="'status'" filterData="statusValues">{{row.status}}</td>
                        <td header-class="'h5'" title="''"><a class="btn btn-default btn-sm">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="contents">
        <div class="page-header">
            <h3>Who can act/authorised for <strong>Jennifer Maxims</strong></h3>
        </div>
        <p class="lead">
            <h4>The entities below have access to your entity. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

        <div class=" ram section">
            <table class="table  table-hover" show-filter="true" ng-table="myAuthorisations">
                    <tr ng-repeat="row in $data">
                        <td header-class="'h5'" title="'Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}<small class="show" ng-if="row.abn"> ABN: {{row.abn}}</small></td>
                        <td header-class="'h5'" title="'Relationship'" filter="{rel: 'select'}" sortable="'rel'">{{row.rel}}</td>
                        <td header-class="'h5'" title="'Access Level'" filter="{access: 'select'}" sortable="'access'">{{row.access}}</td>
                        <td header-class="'h5'" title="'Status'" filter="{status: 'select'}" sortable="'status'" filterData="statusValues">{{row.status}}</td>
                        <td header-class="'h5'" title="''"><a class="btn btn-default btn-sm">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>