<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">4</span> Set permissions</h4></div>
    <div class="panel-body">
        <div class="col-md-10 padding-btn-20">
            <h4>Do you want to representative to manage authorisations for this organisation?</h4>
            <p>(This includes the ability to create, view, modify and cancel authorisations)</p>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="radio">
                    <div class="row">
                        <div class="col-md-6">
                            <label><h4><input type="radio" name="canManagePermissions" value="true" >Yes</h4></label>
                        </div>
                        <div class="col-md-6">
                            <label><h4><input type="radio" name="canManagePermissions" value="false">No</h4></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4>What level of access to online government agency services do you want this representative to have?</h4>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control" name="accessLevel">
                                <option value="fullAccess">Full Access</option>
                                <option value="limitedAccess">Limited Access</option>
                                <option value="noAccess">No Access</option>
                            </select>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                You can default the level of access to all associated online government agency services to full, limited or no access by
                selecting the option in the drop down. Or you can select the expandable below to set each level of access
                individually.
            </p>
        </div>
    </div>
</div>