<div id="page-header">

    <h1>{{title()}}</h1>

    <div>
        <ul class="nav nav-tabs">
            <li [class.active]="tab == 'MANAGE_AUTHORISATIONS'"><a href="" (click)="goToRelationshipsPage()">Manage Authorisations</a></li>
            <li [class.active]="tab == 'GIVE_AUTHORISATION'"><a href="" (click)="goToGiveAuthorisationPage()">Give Authorisation</a></li>
            <li [class.active]="tab == 'GET_AUTHORISATION'"><a href="" (click)="goToGetAuthorisationPage()">Get Authorisation</a></li>
        </ul>
    </div>

</div>
