@import "bootstrap_ram";
@import "ie10-viewport-bug-workaround";

.page-header {
    margin-top:0px;
    h2 {
        margin-top:0px;
    }
}

.list-group {
    a {
        // font-weight: 300;
        font-size: 1.25em;
        color: #333;
    }
}
div.page-header  {
    padding-bottom: 0px;
}

div.navbar-header {
    h1 {
        padding-top: 25px;
        padding-left:10px;
    }
}

.padding-top-5 {
    padding-top: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-30 {
    padding-top: 30px;
}

.padding-btn-5 {
    padding-bottom: 5px;
}
.padding-btn-10 {
    padding-bottom: 10px;
}
.padding-btn-20 {
    padding-bottom: 20px;
}
.padding-btn-30 {
    padding-bottom: 30px;
}

.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.full-width {
    width: 100%;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.neg-margin-left-20 {
    margin-left: -20px;
}

.section{
    .btn.btn-default ,.btn.btn-primary  {
        width:70px;
    }
    thead tr {
        background: #EEE;
    }
    thead tr.super-header{
        background: #555;
        color:#fff;
        th {
            border-bottom: 0px;
            vertical-align: middle;
        }
    }
    margin-bottom: 50px;
    margin-top: 50px;
}
footer {
    font-size: 20px;
    color: #999;
    a {
        color: #999;
        &:hover  {
            color: #aaa;
            text-decoration: none;
        }
    }

    background: #555;
    padding-top: 50px;
    padding-bottom: 50px;

}