<div class="col-lg-12 col-md-12 col-sm-12">

    <page-header [identityObservable]="identity$" tab="GIVE_AUTHORISATIONS"></page-header>

    <div class="page-header">
        <div class="row">

            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">COMPLETE THE AUTHORISATION</h2>
        </div>
    </div>

    <div class="page-header">
        <h3><strong>Option 1</strong></h3>
    </div>
    <p class="lead">
        <h4><strong>{{displayName}}</strong> must accept this authorisation before it is active. Instructions are included in a document
            for you to <a href="">open a print friendly version </a> and provide to {{displayName}}.</h4>
    </p>

    <div class="page-header">
        <h3><strong>Option 2</strong></h3>
    </div>
    <p class="lead">
        <h4>Enter an email address to send the instructions to <strong>{{displayName}}</strong>:</h4>
        <form class="form-horizontal" [ngFormModel]='form' (ngSubmit)="onSubmitEmail()">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-8">
                        <input [ngFormControl]="form.find('email')" class="form-control" placeholder="Email ..." type="email">
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary col-lg-12" [disabled]="!form.valid">Send</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </p>

    <div class="page-header">
        <h3><strong>Option 3</strong></h3>
    </div>
    <p class="lead">
        <h4>Provide <strong>{{displayName}}</strong>’s Authenticator App's Unique Device Name (UDN):</h4>
        <form class="form-horizontal" [ngFormModel]='formUdn' (ngSubmit)="onSubmitUdn()">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">UDN</label>
                    <div class="col-lg-8">
                        <input [ngFormControl]="formUdn.find('udn')" class="form-control" type="text" placeholder="UDN ...">
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary col-lg-12" [disabled]="!formUdn.valid">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </p>

    <hr/>
    <p>
        <h4>The authorisation code <strong>{{code}}</strong> is included in the instructions and will expire in 7 days.</h4>
        <h4>You will be notified when <strong>{{displayName}}</strong> has completed the authorisation.</h4>
        <h4>To access these instructions again refer to the <strong>Authorisations</strong> page and select <strong>Edit</strong>            for this user.</h4>
    </p>

    <div class="clearfix"></div>
    <div class="padding-btn-20"></div>
    <a class="btn btn-default col-md-3 pull-left" (click)="goToRelationshipsPage()"> ← Go to relationships </a>
    <div class="clearfix"></div>
    <div class="padding-btn-20"></div>
    <div class="padding-btn-20"></div>

</div>