<div class="col-lg-12 col-md-12 col-sm-12">

    <page-header [identity]="identity$|async" tab="MANAGE_AUTHORISATIONS"></page-header>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3"></th>
                <th><h4>Login Type</h4></th>
                <th class="hidden-xs"><h4>Authorisation</h4></th>
                <th class="hidden-xs"><h4>Status</h4></th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody *ngIf="!isLoading">
            <template ngFor let-item="$implicit" [ngForOf]="subjectGroupsWithRelationships">
                <tr class="relationship-subject-heading">
                    <td colspan="5">
                        <div (click)="goToRelationshipsContext(item.subjectResource)" class="clickable">
                            <h4>{{modelHelper.displayNameForParty(item.subjectResource.value)}}</h4>
                            <h5>{{modelHelper.abnLabelForParty(item.subjectResource.value)}} /
                                {{modelHelper.partyTypeLabelForParty(item.subjectResource.value)}}</h5>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let relationshipResource of item.relationshipResources">
                    <td>{{modelHelper.displayName(relationshipResource.value.delegateNickName)}}</td>
                    <td>{{commaSeparatedListOfProviderNames(relationshipResource.value.delegate.value)}}</td>
                    <td class="hidden-xs">{{modelHelper.relationshipTypeLabel(relationshipTypes, relationshipResource.value)}}</td>
                    <td class="hidden-xs">{{relationshipResource.value.status}}</td>
                    <td></td>
                </tr>
            </template>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr>
                <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
            </tr>
        </tbody>
    </table>

    <search-result-pagination
            [searchResult]="relationshipsResponse$|async"
            [delegate]="paginationDelegate">
    </search-result-pagination>

    <!--
    <br/>
    <br/>
    <br/>
    <br/>

    <p class="lead">
        <h4><strong>{{modelHelper.displayNameForIdentity(identity$|async)}}</strong>, you have access
            to the entries listed below. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

    <div class="ram section">
        <ram-relationships-table [delegate]="false" [relationshipTypes]="relationshipTypes"></ram-relationships-table>
    </div>

    <div class="page-header">
        <h3>Who can act/authorised for <strong>{{identityDisplayName$|async}}</strong></h3>
    </div>
    <p class="lead">
        <h4>The entities below have access to your entity. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

    <div class="ram section">
        <div class="row">
            <div class="col-md-12">
                <ram-relationships-table [delegate]="true" [relationshipTypes]="relationshipTypes"></ram-relationships-table>
            </div>
        </div>
    </div>
    -->

    <br/>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Did you want to give a new individual or business authorisation? Have you received an
                            "Authorisation code" email asking you to enter a code? Use the buttons on the right to perform these tasks.</h4>
                    </div>
                    <div class="col-sm-4">
                        <br/>
                        <a (click)="goToRelationshipsAddPage()" class="btn btn-sm btn-primary">Give authorisation</a>
                        &nbsp;
                        <a (click)="goToRelationshipsAuthorisationPage()" class="btn btn-sm btn-primary">Get authorised</a>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>