<div class="col-lg-12 col-md-12 col-sm-12">

    <!-- Sprint Set 2 Spike -->

    <!--
    <div class="page-header">
        <div class="row">
            <div class="pull-md-right col-md-5 col-lg-4 col-xs-12">
                <div class='btn-toolbar'>
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                        <div class="col-md-12 padding-btn-30 visible-xs visible-sm">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">Relationships and authorisations (SPIKE)</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div *ngIf="!subjectHrefValue">

                <div *ngFor="let subjectHrefValue of (subjectsResponse$ | async)?.list"
                     class="relationship-subject-heading clickable"
                     (click)="expandSubject(subjectHrefValue)">
                    <h4>{{modelHelper.displayNameForParty(subjectHrefValue.value)}}</h4>
                    <h5>{{modelHelper.abnLabelForParty(subjectHrefValue.value)}} / {{modelHelper.partyTypeLabelForParty(subjectHrefValue.value)}}</h5>
                </div>

                &lt;!&ndash;todo pagination&ndash;&gt;
                <br/><br/><br/>
                <div class="todo">This pagination is for subjects (not connected</div>

                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li [class.active]="pageNumber == 1"><a href="#">1 </a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>

            </div>

            <div *ngIf="subjectHrefValue">

                <div class="relationship-subject-heading">
                    <h4>{{modelHelper.displayNameForParty(subjectHrefValue.value)}}</h4>
                    <h5>{{modelHelper.abnLabelForParty(subjectHrefValue.value)}} / {{modelHelper.partyTypeLabelForParty(subjectHrefValue.value)}}</h5>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3"><h5>Name</h5></th>
                            <th><h5>Login Type</h5></th>
                            <th class="hidden-xs"><h5>Authorisation</h5></th>
                            <th class="hidden-xs"><h5>Status</h5></th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isLoading">
                        <tr *ngFor="let relationshipHrefValue of (relationshipsResponse$ | async)?.list">
                            <td *ngIf="!isDrillDownPossible(relationshipHrefValue.value)">{{modelHelper.displayNameForParty(getOtherParty(relationshipHrefValue.value))}}</td>
                            <td *ngIf="isDrillDownPossible(relationshipHrefValue.value)">
                                <a (click)="expandSubject(getOtherPartyHrefValue(relationshipHrefValue.value))" class="clickable">{{modelHelper.displayNameForParty(getOtherParty(relationshipHrefValue.value))}}</a>
                            </td>
                            <td>{{commaSeparatedListOfProviderNames(getOtherParty(relationshipHrefValue.value))}}</td>
                            <td class="hidden-xs">{{modelHelper.relationshipTypeLabel(relationshipTypes, relationshipHrefValue.value)}}</td>
                            <td class="hidden-xs">{{relationshipHrefValue.value.status}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="isLoading">
                        <tr>
                            <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
                        </tr>
                    </tbody>
                </table>

                &lt;!&ndash;todo pagination&ndash;&gt;
                <br/><br/><br/>
                <div class="todo">This pagination is for relationships (not connected</div>

                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li [class.active]="pageNumber == 1"><a href="#">1 </a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>

                <br/>

                <div class="clearfix"></div>
                <div class="padding-btn-20"></div>
                <a class="btn btn-default col-md-3 pull-left" (click)="backToListing()"> ← Go to relationships</a>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
                <div class="padding-btn-20"></div>
                <div class="padding-btn-20"></div>

            </div>

        </div>

    </div>

    <br/>
    <br/>
    <br/>

    <hr/>

    <div style="margin-bottom:300px"></div>
    -->

    <page-header [identity]="identity$|async" tab="MANAGE_AUTHORISATIONS"></page-header>

    <div class="page-header">
        <div class="row">
            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">Relationships and authorisations</h2>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3"><h5>Name</h5></th>
                <th><h5>Login Type</h5></th>
                <th class="hidden-xs"><h5>Authorisation</h5></th>
                <th class="hidden-xs"><h5>Status</h5></th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody *ngIf="!isLoading">
            <template ngFor let-item="$implicit" [ngForOf]="subjectGroupsWithRelationships">
                <tr>
                    <td colspan="5" (click)="goToRelationshipsContext(item.subjectResource)" class="clickable">
                        <div class="relationship-subject-heading">
                            <h4>{{modelHelper.displayNameForParty(item.subjectResource.value)}}</h4>
                            <h5>{{modelHelper.abnLabelForParty(item.subjectResource.value)}} /
                                {{modelHelper.partyTypeLabelForParty(item.subjectResource.value)}}</h5>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let relationshipResource of item.relationshipResources">
                    <td>{{modelHelper.displayName(relationshipResource.value.delegateNickName)}}</td>
                    <td>{{commaSeparatedListOfProviderNames(relationshipResource.value.delegate.value)}}</td>
                    <td class="hidden-xs">{{modelHelper.relationshipTypeLabel(relationshipTypes, relationshipResource.value)}}</td>
                    <td class="hidden-xs">{{relationshipResource.value.status}}</td>
                    <td></td>
                </tr>
            </template>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr>
                <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
            </tr>
        </tbody>
    </table>


    <br/>
    <br/>
    <br/>
    <br/>

    <p class="lead">
        <h4><strong>{{modelHelper.displayNameForIdentity(identity$|async)}}</strong>, you have access
            to the entries listed below. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

    <div class="ram section">
        <ram-relationships-table [delegate]="false" [relationshipTypes]="relationshipTypes"></ram-relationships-table>
    </div>

    <div class="page-header">
        <h3>Who can act/authorised for <strong>{{identityDisplayName$|async}}</strong></h3>
    </div>
    <p class="lead">
        <h4>The entities below have access to your entity. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

    <div class="ram section">
        <div class="row">
            <div class="col-md-12">
                <ram-relationships-table [delegate]="true" [relationshipTypes]="relationshipTypes"></ram-relationships-table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Did you want to give a new individual or business authorisation? Have you received an
                            "Authorisation code" email asking you to enter a code? Use the buttons on the right to perform these tasks.</h4>
                    </div>
                    <div class="col-sm-4">
                        <br/>
                        <a (click)="goToRelationshipsAddPage()" class="btn btn-sm btn-primary">Give authorisation</a>
                        &nbsp;
                        <a (click)="goToRelationshipsAuthorisationPage()" class="btn btn-sm btn-primary">Get authorised</a>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>