<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">3</span> Set access period</h4></div>
    <div class="panel-body">
        <form [formGroup]='form' >
            <div class="form-group col-md-4" [class.has-error]="!form.controls['startDate'].valid">
                <h4>Start date*</h4>
                <input [formControl]='form.controls["startDate"]' class="form-control" type="date" name="startDate" value="" placeholder="Start date ...">
            </div>
            <div class="form-group col-md-4"
            [class.has-error]="!form.controls['endDate'].valid || form.hasError('isEndDateBeforeStartDate')">
                <h4>End date</h4>
                <input [formControl]='form.controls["endDate"]'
                [disabled]='form.controls["noEndDate"].value' class="form-control" type="date"
                    name="endDate" placeholder="End date ...">
            </div>
            <div class="form-group col-md-4">
                <h4>No end date</h4>
                <input [formControl]='form.controls["noEndDate"]' class="big-checkbox" type="checkbox" name="noEndDate" value="false">
            </div>
        </form>
    </div>
</div>