<nav id="top-nav" class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="centered">Authorisations</h1>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div id="top-menu" class="collapse navbar-collapse pull-right">
                    <my-identity></my-identity>
                </div>
            </div>
        </div>
    </div>
</nav>

<my-error></my-error>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a class="col-xs-12">ABN Lookup</a>
                <a class="col-xs-12">Australian Business Licence and Information Service</a>
                <a class="col-xs-12">Australian Business Account</a>
                <a class="col-xs-12">Australian Business Register</a>
                <a class="col-xs-12">Australian Securities &amp; investment Commission</a>
            </div>
            <div class="col-sm-6">
                <a class="col-xs-12">Australian Taxation Office Lookup</a>
                <a class="col-xs-12">Business Consultation</a>
                <a class="col-xs-12">business.gov.au</a>
                <a class="col-xs-12">Register a new business</a>
                <a class="col-xs-12">Standard Business Reporting</a>
            </div>
        </div>
    </div>
</footer>