<div class="ram section">
    <table class="table table-hover">
        <thead>
            <tr class="super-header">
                <th colspan="6">
                    <h4 class="text-center">{{title}}</h4>
                    <!--Representatives authorised to act for Ted's Bistro-->
                </th>
            </tr>
            <tr>
                <th>
                    <h5>Name</h5></th>
                <th>
                    <h5>Access</h5></th>
                <th>
                    <h5>Status</h5></th>
                <th>
                    <h5>Active on</h5></th>
                <th colspan="2">
                    <h5>Expires on</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jennifer Maxims</td>
                <td>Associate</td>
                <td>Inactive</td>
                <td>10/09/2015</td>
                <td>Until further notice</td>
                <td class="text-center"><a class="btn btn-default btn-width-70 btn-sm">Manage</a></td>
            </tr>
            <tr>
                <td>Edward Maxims</td>
                <td>Full access</td>
                <td>Active</td>
                <td>01/07/2015</td>
                <td>Until further notice</td>
                <td class="text-center"><a class="btn btn-default btn-width-70 btn-sm">View</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100" class="text-center"><button class="btn btn-default btn-sm ">Show more</button></td>
            </tr>
        </tfoot>
    </table>
</div>