<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">1</span> Enter representative details</h4></div>
    <div class="panel-body">
        <form>
            <div class="form-group">
            <form [ngFormModel]="form">
                <div class="radio">
                    <div class="col-lg-2">
                        <label><h4>
                            <input type="radio" name='repType'
                            [checked]="false" value="individual" 
                            [ngFormControl]="form.controls['repTypeIndividual']"
                            >Individual</h4></label>
                    </div>
                    <div class="col-lg-2">
                        <label><h4>
                            <input type="radio" [checked]="false"
                            value="organisation" name='repType'
                            [ngFormControl]="form.controls['repTypeOrganisation']"
                            >Organisation</h4></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
            </div>
        </form>
        <div [hidden]='!isIndividual()'>
            <individual-representative-details [(data)]='data.individual'>
            </individual-representative-details>
        </div>
       <div [hidden]='!isOrganisation()'>
            <organisation-representative-details  [(data)]='data.organisation'>
            </organisation-representative-details>
            </div>
    </div>
</div>
