<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">1</span> Enter representative details</h4>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                    <div class="radio">
                        <div class="col-lg-2">
                            <label><h4>
                            <input type="radio" name="repType"
                            [checked]="!isOrganisation" (change)="isOrganisation=false" >Individual</h4></label>
                        </div>
                        <div class="col-lg-2">
                            <label><h4>
                            <input type="radio" 
                            name="repType" [checked]="isOrganisation"
                            (change)="isOrganisation=true"
                            >Organisation</h4></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </form>
        <individual-representative-details *ngIf='!isOrganisation' [(data)]='data.individual' 
        (validationErrors)="setChildValidationStatus(true,$event)">
        </individual-representative-details>
        <organisation-representative-details *ngIf='isOrganisation'
         [(data)]='data.organisation'         
         (validationErrors)="setChildValidationStatus(false,$event)">
        </organisation-representative-details>
    </div>
</div>