<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">1</span> Enter representative details</h4></div>
    <div class="panel-body">
        <div class="form-group">
            <div class="radio">
                <div class="col-lg-2">
                    <label><h4><input type="radio" name="repType" value="individual" >Individual</h4></label>
                </div>
                <div class="col-lg-2">
                    <label><h4><input type="radio" name="repType" value="organisation">Organisation</h4></label>
                </div>
            </div>
        </div>

        <individual-representative-details></individual-representative-details>
        <organisation-representative-details></organisation-representative-details>
    </div>
</div>