<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">2</span> Set authorisation type</h4>
    </div>
    <div class="panel-body">
        <h4 class="padding-btn-30">What type of authorisation do you want this representative to have?</h4>
        <h4>Authorisation type*</h4>
        <div class="form-group">
            <form [ngFormModel]="form">
                <div class="col-md-6"
                [class.has-error]="!form.controls['authType'].valid">
                    <select class="form-control"
                    [ngFormControl]="form.controls['authType']">
                        <option value="choose" disabled hidden>
                            Please Choose...</option>
                        <option value="universal">Universal representative</option>
                        <!--option value="custom">Custom Representative</option-->
                    </select>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <h4 class="padding-btn-10 padding-top-10">Authorisation descriptions:</h4>

        <dl>
            <dt>Universal representative</dt>
            <dd>The same level of authorisation as an Associate of the organisation (e.g., Owner, Director).<br/>All permissions
                will be defaulted to maximum access.</dd>
            <dt>Representative</dt>
            <dd>Select the representative authorisation type if you want to customise access.<br/> Select which permissions this
                representative will have, including restricting access to some services.</dd>
        </dl>
    </div>
</div>