<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <h2>Authorisations</h2>
    </div>
    <div class="contents">
        <div class="jumbotron">
            <h3>Received an invitation code?</h3>

            <h4 class="padding-top-5">If you have received an authorisation code, enter it below:</h4>
            <br/>
            <form class="form form-horizontal" role="form">
                <div class="row form-group">
                    <label class="h4 col-sm-3 col-lg-3 col-md-3 " for="new-activation-code">Invitation code</label>

                    <div class="col-sm-5 col-lg-6 col-lg-pull-1">
                        <input class="form-control input" type="text" id="new-activation-code" placeholder="Invitation code ...">
                    </div>

                    <div class="col-sm-4 col-lg-3 col-lg-pull-1">
                        <a href="#" class="btn btn-primary btn">Accept</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>