<div class="col-lg-9 col-md-9 col-sm-8">
    <div class="page-header">
        <div class="row">
            <div class="pull-md-right col-md-5 col-lg-4 col-xs-12">
                <div class='btn-toolbar'>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-primary col-xs-6">Add a relationship</button>
                            <button type="button" class="btn btn-sm btn-primary col-xs-6">Accept an invitation</button>
                        </div>
                        <div class="col-md-12 padding-btn-30 visible-xs visible-sm">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="col-sm-12 col-md-7 col-lg-8 col-xs-12">Relationships and authorisations</h2>
        </div>
    </div>

    <div class="page-header">
        <h3><strong>Jennifer Maxims</strong> can act/authorised for </h3>
    </div>
    <p class="lead">
        <h4>You have access to the entries listed below. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

    <div class="ram section">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <h5>Name</h5></th>
                            <th>
                                <h5>Relationship</h5></th>
                            <th class="hidden-xs">
                                <h5>Access Level</h5></th>
                            <th class="hidden-xs">
                                <h5>Status</h5></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>
                                <input class="form-control" type="text" placeholder="Name ..." ng-model="myAuthorisation.filters.name" />
                            </th>
                            <th>
                                <select class="form-control" ng-model="myAuthorisation.filters.relationship">
                                    <option value="" ng-selected=" row.value == '' ">All</option>
                                    <option ng-repeat="item in myAuthorisation.lastResponse.relationships" ng-value="item.key" ng-selected="item.value == myAuthorisation.filters.relationship">{{item.value}}</option>
                                </select>
                            </th>
                            <th class="hidden-xs">
                                <select class="form-control" ng-model="myAuthorisation.filters.accessLevel" class="form-control">
                                    <option value="">All</option>
                                    <option ng-repeat="item in myAuthorisation.lastResponse.accessLevels" ng-value="item.key" ng-selected="item.value == myAuthorisation.filters.accessLevel">{{item.value}}</option>
                                </select>
                            </th>
                            <th class="hidden-xs">
                                <select class="form-control" ng-model="myAuthorisation.filters.status">
                                    <option value="">All</option>
                                    <option ng-repeat="item in myAuthorisation.lastResponse.statusValues" ng-value="item.key" ng-selected="item.value == myAuthorisation.filters.status">{{item.value}}</option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="myAuthorisation.isLoading">
                            <td colspan="5" class="text-center">
                                <h3>Loading ...</h3></td>
                        </tr>
                        <tr ng-repeat="row in myAuthorisation.lastResponse.data">
                            <td>{{row.name}}<small class="show" ng-if="row.abn"> ABN: {{row.abn}}</small></td>
                            <td>{{row.rel}}</td>
                            <td class="hidden-xs">{{row.access}}</td>
                            <td class="hidden-xs">{{row.status}}</td>
                            <td><a class="btn btn-primary btn-sm">Act as</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="text-md-left text-xs-center">
                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pull-md-right text-xs-center">
                    <div class="btn-group pagination" role="group">
                        <button type="button" class="btn btn-primary">5</button>
                        <button type="button" class="btn btn-primary">10</button>
                        <button type="button" class="btn btn-primary">25</button>
                        <button type="button" class="btn btn-primary">100</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3>Who can act/authorised for <strong>Jennifer Maxims</strong></h3>
        </div>
        <p class="lead">
            <h4>The entities below have access to your entity. Select an entity to view the relationship or manage access.
            Find out more about <a href="">managing access</a>.</h4></p>

        <div class=" ram section">

        </div>
    </div>
</div>